---
import MainLayout from '@/layouts/MainLayout.astro';
import MainSection from '@components/ui/blocks/MainSection.astro';
import TeamSection from '@components/sections/about/TeamSection.astro';

import FeaturesStats from '@components/sections/features/FeaturesStats.astro';
import { useTranslations } from '@/copywriting';


const copy = useTranslations();
const aboutCopy = copy.pages.about;

const pageTitle = aboutCopy.pageTitle;
const metaDescription = aboutCopy.metaDescription;

const teamId = 'team';
---

<MainLayout title={pageTitle} customDescription={metaDescription}>
  <MainSection
    title={aboutCopy.mainSection.title}
    subTitle={aboutCopy.mainSection.subTitle}
    btnExists={true}
    btnTitle={aboutCopy.mainSection.btnTitle}
    btnURL={aboutCopy.mainSection.btnURL}
  />

  <div id={teamId}>
    <TeamSection
      title={aboutCopy.team.title}
      subTitle={aboutCopy.team.subTitle}
    />
  </div>


  <FeaturesStats
    title={aboutCopy.stats.title}
    subTitle={aboutCopy.stats.subTitle}
    mainStatTitle={aboutCopy.stats.mainStatTitle}
    mainStatSubTitle={aboutCopy.stats.mainStatSubTitle}
    stats={aboutCopy.stats.items}
  />
</MainLayout>
