---
import Icon from '@components/ui/icons/Icon.astro';
// Destructure the properties from Astro.props
const { title, url, noArrow } = Astro.props;
// Define TypeScript interface for the properties
interface Props {
  title?: string;
  url?: string;
  noArrow?: boolean;
}
// Define CSS classes for styling the button
const baseClasses =
  'group inline-flex items-center justify-center gap-x-[8px] rounded-[8px] px-[24px] py-[12px] text-[14px] font-medium transition-colors duration-150 ease-out outline-hidden active:scale-[0.98]';
const borderClasses = 'border border-transparent';
const bgColorClasses = 'bg-[#0f0f0f] text-white hover:bg-[#2a2a2a]';
const disableClasses = 'disabled:pointer-events-none disabled:opacity-50';

---

{/* Link styled as a button, with dynamic title, URL, and optional arrow */}
<a
  class={`${baseClasses} ${borderClasses} ${bgColorClasses} ${disableClasses}`}
  href={url}
  data-astro-prefetch
>
  {title}
  {/* Display the arrow based on the 'noArrow' property */}

  {noArrow ? null : <Icon name="arrowRight" />}
</a>
