---
// Destructure the properties from Astro.props
const { title, url } = Astro.props;

// Define TypeScript interface for the properties
interface Props {
  title?: string;
  url?: string;
}
// Define CSS classes for the hyperlink button
const baseClasses =
  'group inline-flex items-center justify-center gap-x-[8px] rounded-[8px] px-[24px] py-[12px] text-[14px] font-medium transition-colors duration-150 ease-out outline-hidden active:scale-[0.98]';
const borderClasses = 'border border-[#0f0f0f]';
const bgColorClasses = 'bg-transparent text-[#0f0f0f]';
const hoverClasses = 'hover:bg-[#0f0f0f] hover:text-white';
const disableClasses = 'disabled:pointer-events-none disabled:opacity-50';

---

{/* Styled hyperlink */}
<a
  class={`${baseClasses} ${borderClasses} ${bgColorClasses} ${hoverClasses} ${disableClasses}`}
  href={url}
  data-astro-prefetch
>
  {title}
</a>
